@import url('https://fonts.googleapis.com/css2?family=Damion&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color:#f6f5f5;
}

a, li{
    list-style: none;
    text-decoration: none;
    color: inherit;
}

/* navigator bar css start here */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 60px;
    background-color: white;
}

ul{
    display: flex;
}

ul li{
    margin: 0 10px;
}

.logo{
    font-family: 'Damion', cursive;
    font-size: 30px;
}


/* main section styling start here */


.main{
    width: 100%;
    height: 500px;
    padding: 0 10%;
    background: url('./image/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.main .main_text p:nth-child(1){
    font-weight:bold;
	color:#403e3e;
	font-size:22px;
    margin-bottom: 7px;
}

.main>.main_text p:nth-child(2){
    font-weight:bold;
	letter-spacing:1px;
	color:#1a1a1a;
	font-size:60px;
    margin-bottom: 12px;
}

.main>.main_text p:nth-child(3){
    color: #403e3e;
	font-size:30px;
	line-height:30px;
    margin-bottom: 40px;
}

.main>img{
    height: 443px;
}

.btn{
    margin: 0 10px;
    width:130px;
	height:42px;
    border-radius: 10px;
    outline: none;
    border:2px solid #373636;
    font-weight:bold;
	font-size: 14px;
    transition: all ease 0.3s;
    cursor: pointer;
}

.hire_btn:hover{
    background-color: #373636;
    color: white;
}

.download_cv{
    background-color: #373636;
    color: white;
}

.download_cv:hover{
    background-color: white;
    color: #373636;
}


/* about section css styling starts here */

.about{
    background-color: white;
    width: 80%;
    height: 330px;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 130px;
    margin: -6%  auto 20px;
	position: relative;
}

.about img{
    height: 250px;
}

.about .about_text{
    width: 500px;
}

.about .about_text p:nth-child(1){
    font-size: 23px;
    color: #403e3e;
    font-weight: bold;
    margin-bottom: 5px;
}

.about .about_text p:nth-child(2){
    color:#3e3d3d;
	font-size:13px;
	font-weight:bold;
    margin-bottom: 5px;
}

.about .about_text p:nth-child(3){
    color:#7e7d7d;
	font-size:16px;
    margin-bottom: 25px;
}

.about_button{
	border-radius: 30px;
}

/* servise section styling starts here */

.servise_container{
    height: 600px;
    width: 80vw;
    margin: 100px auto 30px;
}

.servise_container .text_content h2{
    margin-bottom: 10px;
}

.servise_container .text_content p{
    margin: 15px 0;
    color: #403e3e;
}

.servise_container .cart_container{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.servise_container .cart_container .cart{
    width: 300px;
	height:320px;
	box-shadow:2px 2px 18px rgba(0,0,0,0.3);
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
	margin: 0px 4px;
    padding: 0 10px;
    border-radius: 10px;
}

.servise_container .cart_container .cart img{
    width: 40px;
}

.servise_container .cart_container .cart h2{
    margin: 20px 0;
}

.servise_container .cart_container .cart p{
    text-align: justify;
}

.servise_container .cart_container .cart button{
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 50px;
    border: 2px solid black;
    cursor: pointer;
    font-weight: bold;
}

.servise_container .cart_container .cart_1{
    background: linear-gradient(rgb(255, 255, 255),rgba(255, 255, 255, 0.83)), url('./image/design_background.jpg');  
	background-repeat: no-repeat;
	background-size: cover;
}
.servise_container .cart_container .cart_1:hover{
    background: linear-gradient(rgba(255, 255, 255, 0.83),rgb(255, 255, 255)), url('./image/design_background.jpg');  
	background-repeat: no-repeat;
	background-size: cover;
}

.servise_container .cart_container .cart_2{
    background: linear-gradient(rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.9)), url('./image/development_background.jpg');  
	background-repeat: no-repeat;
	background-size: cover;
}

.servise_container .cart_container .cart_2:hover{
    background: linear-gradient(rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.8)), url('./image/development_background.jpg');  
	background-repeat: no-repeat;
	background-size: cover;
}

.servise_container .cart_container .cart_3{
    background: linear-gradient(rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.9)), url('./image/app_background.jpg');  
	background-repeat: no-repeat;
	background-size: cover;
    transition: all ease 1s;
}

.servise_container .cart_container .cart_3:hover{
    background: linear-gradient(rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.8)), url('./image/app_background.jpg');
    background-repeat: no-repeat;
	background-size: cover;
}